---
layout: layouts/base.njk
title: Ilustracion
eleventyNavigation:
  key: ilustracion
  title: Ilustracion
  order: 2
---

<div class="col-12">
  <h1>Contacto</h1>
  <p>
    La página de contacto.
  </p>
</div>
